.heading{
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: xxx-large;
  padding: 5px;
}
.credits{
  float: right;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
