@import "~bootstrap/scss/bootstrap";
@import 'variables';

@import 'Welcome/welcome';

@import 'Authors/title';
@import 'Authors/add-author';
@import 'Authors/author-form';
@import 'Authors/author-list-item';

@import "Books/book-title";
@import "Books/book-list-item";
@import "Books/add-book";
@import "Books/book-form";
@import 'Welcome/welcome';


body {
  font-family: Raleway, sans-serif;
  height: 200vh;
  width: 100%;
  overflow-x: hidden;
}

.author-book{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

%inputs {
  border: 1px solid black;
  border-radius: 0;
  height: 32px;
  }

input[type=text] {
  @extend %inputs;
}

input[type=number] {
  @extend %inputs;
}

.error-msg{
  padding-top: 2px;
  color: red;
  font-size: 10px;
  margin-bottom: 0;
}

@media (max-width: 640px) {
  .heading {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.2em;
  }
  h6 {
    font-size: 0.8em;
  }

  p {
    font-size: 0.8em;
  }

  body {
    height: 150vh;
  }

  %forms {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .add-author-form {
    @extend %forms;
  }

  .add-book-form {
    @extend %forms;
  }

  .add-author-title{
    margin-bottom: 30px;
  }
}

@media (max-width: 765px) {
  .author-book{
    flex-direction: column-reverse !important;
    margin: 0px auto;
  }
}

@media (max-width: 1000px) and (min-width: 560px){
  %forms-tab {
    width: 80%;
    margin: 0 auto !important;
    padding-bottom: 50px;

  }

  .add-author-form {
    @extend %forms-tab;
  }

  .add-book-form {
    @extend %forms-tab;
  }
}